<.live_component
  module={ChecklisterWeb.ChecklistLive.FormComponent}
  id={@checklist.id || :new}
  title={@page_title}
  action={@live_action}
  checklist={@checklist}
  patch={~p{/checklists/#{@checklist.id}/edit}}
/>
